body {
    font-family: sans-serif;
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255,255,255, 0.95);
    padding: 0 50px;
}

.modal h2 {
    font-size: 36px;
}

.modal img, .modal iframe {
    width: 65%;
    height: 80%;
}

.modal img {
    object-fit: cover;
}

.modal .preloader {
    background-image: url(img/loading.gif);
    background-repeat: no-repeat;
    position: absolute;
    width: 64px;
    height: 64px;
    top: 50%;
    left: 32.5%;
    margin-top: -32px;
}

.close-button {
    background-image: url('img/close-button.png');
    width: 50px;
    height: 50px;
    position: absolute;
    right: 10px;
    top: 10px;
    background-size: cover;
    opacity: 0.5;
    cursor: pointer;
}

picture-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

picture-item {
    flex: 1 0;
}

picture-item {
    cursor: pointer;
}

.close-button:hover {
    opacity: 0.8;
}

.side-desc {
    width: 30%;
    float: right;
}
