.picture-item {
  background-size: cover;
  background-position: center top;
  width: 250px;
  height: 250px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}

.picture-item .description {
  position: absolute;
  bottom: 0;
  background: rgba(0,0,0,0.7);
  color: #FFF;
  padding: 10px;
  margin: 0;
  font-weight: bold;
  width: 250px;
  box-sizing: border-box;
}

.picture-item .description p {
  padding: 0;
  margin: 0;
}

.picture-item .description .title {
  color: #FFF;
  text-decoration: none;
}

.picture-item:hover .description .title {
  text-decoration: underline;
}

.picture-item .description .date {
  text-align: right;
  font-style: italic;
}

.picture-item .video {
  background-image: url('img/video.png');
  background-size: cover;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 20px;
  height: 20px;
}
