<div class="modal" *ngIf="picture">
  <h2>{{picture.title}}</h2>
  <div class="close-button" (click)="closeModal()"></div>
  <p *ngIf="picture.media_type === 'image' && !imageLoaded" class="preloader"></p>
  <img [src]="picture.hdurl" *ngIf="picture.media_type === 'image' && imageLoaded"/>
  <iframe [src]="videoUrl" *ngIf="picture.media_type === 'video'"></iframe>
  <div class="side-desc">
    <p>{{picture.explanation}}</p>
    <p *ngIf="picture.copyright">Author: <strong>{{picture.copyright}}</strong></p>
  </div>
</div>
